<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">

</head>
<body>
<div class="container">

<form th:action="@{/product/add/process}" method="post" class="form">
    <div class="mb-3">

    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="" placeholder="Enter Product Name..." class="form-control">
    </div>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" value="0" min="0" step="1.00" class="form-control">

    <label for="description" >description</label>
    <input type="text" name="description" id="description" value="" placeholder="Enter Description..." class="form-control">

    <label for="available" class="form-check-label">Available</label>
    <input type="checkbox" name="available" id="available" class="form-check-input" checked>

    <input type="Submit" value="Submit" class=" btn btn-success">

</form>
</div>
<script th:src="@{/webjars/boostrap/2.9.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/boostrap/5.1.3/js/boostrap.min.js}"></script>


</body>
</html>